<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
   <div id="app">
    <div class="container" @mouseover="stopImage" @mouseout="resumeImage">
        <!-- slide grande  -->
        <div class="items" >
             <div v-for="(image, index) in images"  class="item" :class="{ active: index === currentIndex }" >
                 <img :src="image.image" alt="Slide" >
                 <div class="square"> 
                     <h3>{{ image.title }}</h3>
                     <p>{{ image.text }}</p>
                 </div>
             </div>
        </div>
        <!-- slide piccoli  -->
         <div class="thumbs" @click="stopImage">
             <div class="thumb" v-for="(image, index) in images"  @click="changeImage(index)" :class="{ active: index === currentIndex }">
                 <img :src="image.image" alt="Thumbnail">
             </div>
             <div class="prev" @click="previousImage"></div>
             <div class="next" @click="nextImage"></div>
         </div>
    </div>
</div>
   <!-- javascript (vue) -->
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <!-- javascript -->
   <script src="js/main.js"></script>
</body>
</html>